// Tree View
// -------------------
// Used to explore and open files in the current project.
// Overrides: atom/tree-view

.tree-view-resizer {
    border-right: 1px solid @base-border-color;
}

@tree-view-item-height: 24px;

.tree-view {
    color: @text-color;
    background-color: @tree-view-background-color;

    .tree-view-root {
        // padding: 0;
        padding-bottom: @component-line-height;
    }

    .list-group,
    .list-tree {
        margin: 0;
        // padding: 0;
        list-style: none;
        cursor: default;

        li.list-nested-item > .list-item,
        li:not(.list-nested-item) {
            line-height: @tree-view-item-height;
            display: flex;
            align-items: center;
        }
        .selected::before {
            height: @tree-view-item-height;
        }
    }

    .list-item.selected {
        // color: @text-color-selected;
    }
    .list-tree {
        li {
            &.selected {
                background-color: @tree-view-background-color;
            }
        }
    }
}
