// UI Variables
// -------------------

// These are the official UI variables that every UI theme should define.
// It allows other packages to match your theme.

// Overrides: atom/static/variables/ui-variables.less

// Try to edit some of the values below to see your theme change.
// A good start is to change the color of the `@base-background-color` variable.

@import 'syntax-variables';

// Text Colors
@text-color: @palette-text-light;
@text-color-subtle: @palette-text-lighter;
@text-color-highlight: fadeout(@palette-text, 10%);
@text-color-selected: @palette-text;

@text-color-info: @palette-primary;
@text-color-success: @palette-success;
@text-color-warning: @palette-warning;
@text-color-error: @palette-error;

// Background colors
@background-color-info: @palette-primary;
@background-color-success: @palette-success;
@background-color-warning: @palette-warning;
@background-color-error: @palette-error;

// Base colors
@base-background-color: @palette-dark-color;
@base-border-color: @base-background-color;
@darker-base: darken(@base-background-color, 2%);
@darker-border: darken(@base-background-color, 3%);

@background-color-highlight: lighten(@base-background-color, 10%);
@background-color-selected: lighten(@base-background-color, 15%);
@app-background-color: @base-background-color;

// Component colors
@pane-item-background-color: @base-background-color;
@pane-item-border-color: @base-border-color;

@input-background-color: darken(@base-background-color, 3%);
@input-border-color: @base-border-color;

@tool-panel-background-color: @darker-base;
@tool-panel-border-color: @darker-border;

@inset-panel-background-color: lighten(@base-background-color, 4%);
@inset-panel-border-color: @base-border-color;

@panel-heading-background-color: lighten(@base-background-color, 4%);
@panel-heading-border-color: @base-border-color;

@overlay-background-color: lighten(@base-background-color, 5%);
@overlay-border-color: @base-border-color;

@button-background-color: lighten(@base-background-color, 10%);
@button-background-color-hover: lighten(@button-background-color, 12%);
@button-background-color-selected: @button-background-color-hover;
@button-border-color: @base-border-color;

@tab-bar-background-color: @darker-base;
@tab-bar-border-color: @darker-border;
@tab-background-color: @tab-bar-background-color;
@tab-background-color-active: lighten(@tab-bar-background-color, 0%);
@tab-border-color: @darker-border;

@tree-view-background-color: @darker-base;
@tree-view-border-color: @darker-border;

// Site colors
@ui-site-color-1: hsl(208, 100%, 50%); // blue
@ui-site-color-2: hsl(160, 70%, 42%); // green
@ui-site-color-3: hsl(32, 60%, 50%); // orange
@ui-site-color-4: #d831b0; // pink
@ui-site-color-5: #ebdd5b; // yellow

// Sizes
@font-size: 14px;
@input-font-size: 12px;

@disclosure-arrow-size: 14px;

@component-padding: 12px;
@component-icon-padding: 6px;
@component-icon-size: 12px;
@component-line-height: 24px;

@tab-height: 48px;

// Misc
@component-border-radius: 2px;
@font-family: ".SFNSText-Regular", "SF UI Text", "Lucida Grande", "Segoe UI",
  Ubuntu, Cantarell, sans-serif;
